body{
    background-color: beige;
}
#par1{
    color: blueviolet;
    background-color: orange;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}
#par2{
    color: navy;
    background-color: aquamarine;
    text-transform: uppercase;
    font-size: 23px;
    text-decoration: underline;
    text-align: center;
}
#par3{
    color: powderblue;
    background-color: brown;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    padding: 20px;

}
.myparagraph{
    color: rgb(234, 232, 232);
    background-color: rgb(33, 203, 14);
    padding: 12px;
    font-size: 18px;
    text-align: center;
}
.divv{
    color: rgb(209, 212, 206);
    background-color: rgb(51, 51, 52);
    font-size: 20px;
    padding: 12px;

}