body{
    background-color:beige
}
h1{
    background-color: darkorange;
    font-size: 55px;
    color: aquamarine;
    letter-spacing: 12px;
    word-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-decoration-line: overline;
    color: rgb(32, 113, 36);
}
h2{
    border-top: 5px black solid;
    border-right: 5px red double;
    border-bottom: 5px wheat ridge;
    border-left: 5px blue dotted;

    /* padding */
    padding: 50px;
}